*{
	margin: 0;
	padding: 0;
}
.navbar-default{
	height: 100px;
	background-color: #00111a;
}
.navbar-default2{
	background-color: #002233;
}
.menu  li a{
	color: #fff !important;
}
.menu li li a{
	color: #000 !important;
}
.cart{
	width: 120px;
	height: 40px;
	border:none;
	box-shadow: 0px 1px rgba(51, 51 ,51, .3);
}
.search-btn{
	height: 35px;
	border-radius: 0;
	background-color: #ff8c1a;
	width: 50px;
}
.search-btn:hover{
	background-color:#ff8c1a rgba(15,0,0,0.1); 
}
.glyphicon-map-marker{
	color: #fff;
}
.navbar-default3{
	background-color: #e6e6e6;
	height: 50px;
}
.menu3 li a{
	color: #000!important;
}
#display_img{
	width: 100%;
}
.brand {
	list-style-type: none;
}
.rating {
	list-style: none;
}
.rating{
	position: absolute;
}
.rating input{
	display: none;
}
.rating label:before{
	content: '\f005';
	font-family: fontAwesome;
	position: relative;
	display: block;
	font-size: 10px;
	color: #ffad33;
}

.reviews{
	margin-left:  20%;
}
#btn1{
	background-color: #FFD700;
	width: 200px;
}
#btn2{
	background-color: #FF8C00;
	width: 200px;
}

